BasedOnStyle: Google
IndentWidth: 4
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortLambdasOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
UseTab: Never

KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
AlwaysBreakBeforeMultilineStrings: true
BreakConstructorInitializersBeforeComma: true

ReflowComments: false
PointerAlignment: Left
